* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #02050a;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #02050a;
}

body::-webkit-scrollbar-thumb {
  background-color: #151c25;
}

/* NAVBAR */

.navigation {
  height: 100vh;
  width: 250px;
  background: #09101a;
  position: fixed;
  left: -250px;
  border-right: 2px solid #151c25;
  transition: all linear 0.3s;
  font-family: "Poppins", sans-serif;
  z-index: 100;
}

.show-navigation {
  width: 50px;
  height: 50px;
  background-color: #55e6a5;
  position: absolute;
  top: 10px;
  right: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}

.show_bar {
  width: 40%;
  height: 2px;
  background-color: #02050a;
  position: relative;
}

.show_bar::before,
.show_bar::after {
  content: "";
  position: absolute;
  background-color: #02050a;
  width: 100%;
  height: 2px;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.show_bar::after {
  top: 7px;
}

.show {
  left: 0;
}

.close_bar {
  width: 40%;
  height: 2px;
  background-color: #02050a;
  transform: rotate(45deg);
  position: relative;
}

.close_bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 100%;
  height: 2px;
  background-color: #02050a;
}

.navigation.show .show-navigation {
  background-color: #151c25;
}

.navigation.show .show-navigation .close_bar,
.navigation.show .show-navigation .close_bar::before {
  background-color: #fff;
}

.navigation-top {
  background-color: #09101a;
  width: 100%;
  height: 80px;
}

.navigation-bottom {
  max-height: 635px;
  overflow: hidden;
  padding: 30px;
}

.navigation-link {
  display: flex;
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.navigation-icon {
  width: 50px;
  height: 50px;
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 22px;
  transition: all 0.5s;
  color: #fff;
}

.navigation-icon i {
  font-size: 20px;
}

.navigation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: rgb(162, 162, 162);
  letter-spacing: 1px;
  height: 17px;
  overflow: hidden;
}

.letter {
  text-shadow: 0 16px 0 #55e6a5;
  position: relative;
  transition: all 0.3s;
  top: 0;
}

.navigation-link:hover .navigation-text {
  color: #55e6a5;
}

.navigation-link:hover .letter {
  top: -16px;
}

.navigation-link:hover .navigation-icon {
  background-color: #55e6a5;
}
.navigation-link:hover .navigation-icon i {
  color: rgb(41, 45, 50);
}

.navigation-link:hover .letter:nth-child(1) {
  transition-delay: 0.1s;
}
.navigation-link:hover .letter:nth-child(2) {
  transition-delay: 0.17s;
}
.navigation-link:hover .letter:nth-child(3) {
  transition-delay: 0.24s;
}
.navigation-link:hover .letter:nth-child(4) {
  transition-delay: 0.31s;
}
.navigation-link:hover .letter:nth-child(5) {
  transition-delay: 0.38s;
}
.navigation-link:hover .letter:nth-child(6) {
  transition-delay: 0.45s;
}
.navigation-link:hover .letter:nth-child(7) {
  transition-delay: 0.52s;
}
.navigation-link:hover .letter:nth-child(8) {
  transition-delay: 0.59s;
}
.navigation-link:hover .letter:nth-child(9) {
  transition-delay: 0.66s;
}

/* WELCOME */

.welcome-text {
  padding-top: 120px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}

.welcome-title {
  text-transform: uppercase;
  color: #e1e1e1;
  font-weight: bold;
  font-size: 35px;
  overflow: hidden;
  margin-bottom: 30px;
}

.word {
  color: #02050a;
  position: relative;
  -webkit-text-stroke: 0.3vw #3c3c3c;
  text-transform: uppercase;
}

.word::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #55e6a5;
  -webkit-text-stroke: 0vw #3c3c3c;
  border-right: 2px solid #55e6a5;
  overflow: hidden;
  animation: typing 4s linear infinite;
}

.welcome-description {
  padding: 0 30px;
  color: #a6a6a6;
  margin-bottom: 50px;
}

.cv {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55e6a5;
  margin: 0 auto;
  font-weight: bold;
  transition: all 0.3s;
  border-radius: 5px;
}

.cv:hover {
  background-color: #141c27;
  color: #fff;
}

.welcome-banner img {
  width: 100%;
  height: 100vh;
  /* object-fit: cover; */
}

/* LOADING */

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #161616;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out 0.5s;
  overflow: hidden;
}

.loading.close {
  height: 0;
}

.loading.close h2 {
  opacity: 0;
  transform: translateY(-50px);
}

.loading h2 {
  opacity: 1;
  font-size: 100px;
  color: #333;
  background-attachment: fixed;
  position: relative;
  transition: all 0.5s;
  transform: translateY(0);
  font-size: 60px;
}

.ball {
  width: 100px;
  height: 100px;
  background-color: #55e6a5;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  animation: move 4s linear infinite;
  top: 00px;
  z-index: -1;
}

/* ABOUT ME */

.about-me {
  padding: 0 30px 80px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.about-me-headline,
.service-headline,
.skills-headline,
.portfolio-headline,
.contact-headline {
  color: #55e6a5;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-me-title,
.service-title,
.skills-title,
.portfolio-title,
.contact-title {
  font-size: 26px;
  color: #e1e1e1;
  text-align: center;
  margin-bottom: 50px;
}

.about-me-left-side__box img {
  width: 90px;
}

.about-me-left-side__title {
  color: #e1e1e1;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-me-left-side__description {
  color: #a6a6a6;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.about-me-left-side__box {
  max-width: 550px;
  margin: 0 auto;
}

.about-me-left-side__box:not(:last-child) {
  margin-bottom: 50px;
}

.about-me-right-side {
  position: relative;
}

.square {
  width: 150px;
  height: 150px;
  position: absolute;
  right: -50px;
  top: -50px;
  z-index: -1;
  animation: pulse 5s linear infinite;
}

.me {
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.about-me-left-side {
  margin-bottom: 100px;
}

/* SERVICE */

.service {
  font-family: "Poppins", sans-serif;
}

.service-headline {
  display: inline-block;
}

.service-title {
  padding: 0 30px;
  padding-bottom: 40px;
}

.service-box-title {
  margin: 40px 0 20px;
  text-align: left;
  color: #e1e1e1;
  text-transform: uppercase;
}

.service-box {
  width: 90%;
  padding: 30px;
  background-color: #09101a;
  margin-top: 115px;
  position: relative;
  border-radius: 5px;
  margin: 75px auto 0;
  max-width: 500px;
  transition: all 0.4s;
}

.service-box i {
  font-size: 40px;
  color: #02050a;
  padding: 12px;
  background-color: #55e6a5;
  border-radius: 5px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -45px;
}

.service-box-description {
  text-align: left;
  color: #a6a6a6;
}

.no-scroll {
  overflow: hidden;
}

/* SKILLS */

.skills {
  margin-top: 80px;
  padding-top: 75px;
  padding-bottom: 80px;
  background-color: #09101a;
  font-family: "Poppins", sans-serif;
}

.skills-headline {
  display: inline-block;
}

.skills-title {
  padding: 0 30px;
}

.competencies-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
  padding: 0 20px;
}

.competencies-button {
  background-color: #141c27;
  padding: 10px 20px;
  color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.4s;
  cursor: pointer;
}

.competencies-button:hover {
  background-color: #55e6a5;
  color: #02050a;
}

.active-box {
  background-color: #55e6a5;
  color: #02050a;
}

.competencies-context {
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  min-height: 200px;
}

.context-box-title {
  text-align: left;
  color: #e1e1e1;
  position: relative;
  margin-bottom: 30px;
  position: relative;
}

.context-box-title::after {
  background-color: #55e6a5;
  width: 50px;
  height: 1px;
  position: absolute;
  left: 33px;
  bottom: -5px;
  content: "";
}

.fa-angle-double-right {
  margin-right: 15px;
  color: #55e6a5;
}

.context-box-list {
  display: flex;
  flex-wrap: wrap;
}

.context1-left,
.context1-right,
.context2-left,
.context2-right,
.context3-left,
.context3-right {
  border: 1px solid #e3e3e310;
  padding: 30px 20px;
}

.context1-left {
  margin-bottom: 20px;
}

.context-box-item {
  color: #a6a6a6;
  width: 50%;
  text-align: left;
  margin-bottom: 5px;
  font-size: 15px;
  transition: all 0.3s;
  cursor: default;
}

.context-box-item:hover {
  color: #55e6a5;
}

.context-box {
  display: flex;
  flex-direction: column;
}

.context-box-headline {
  display: block;
  padding-left: 30px;
  color: #e1e1e1;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}
.context-box-time {
  display: block;
  padding-left: 30px;
  text-align: left;
  color: #e1e1e1;
  margin-bottom: 25px;
  font-weight: bold;
}

.context2-left .context-box-title,
.context3-left .context-box-title {
  margin-bottom: 20px;
}

.context-box-description {
  color: #a6a6a6;
  text-align: left;
  padding-left: 30px;
  line-height: 25px;
}

/* PORTFOLIO */

.portfolio {
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  padding-bottom: 80px;
}

.portfolio-headline {
  display: inline-block;
}

.portfolio-title {
  padding: 0 30px;
}

.portfolio-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.portfolio-box-img {
  position: relative;
}

.portfolio-box-img .portfolio-box-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s;
  padding: 20px;
  visibility: hidden;
}

.portfolio-box-img:hover .portfolio-box-backdrop,
.portfolio-box-img:focus .portfolio-box-backdrop {
  opacity: 1;
  visibility: visible;
}

.portfolio-box img {
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  height: 200px;
  object-fit: cover;
}

.backdrop-title,
.backdrop-description {
  color: #e1e1e1;
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}

.backdrop-title::after {
  content: "";
  position: absolute;
  width: 10%;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background-color: #55e6a5;
  height: 2px;
}

.backdrop-description {
  margin-bottom: 20px;
  font-size: 16px;
}

.backdrop-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.backdrop-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #151c25;
  color: #fff;
  transition: all 0.3s;
}

.backdrop-button:hover {
  background-color: #55e6a5;
  color: #09101a;
}

.backdrop-button.active-box {
  background-color: #55e6a5;
  color: #09101a;
}

.show-more {
  width: 150px;
  height: 40px;
  background-color: #55e6a5;
  color: #09101a;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s;
}

.show-more a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more:hover {
  background-color: #141c27;
  color: #e1e1e1;
}

/* CONTACT */

.contact {
  font-family: "Poppins", sans-serif;
  background-color: #09101a;
  padding-top: 75px;
  padding-bottom: 40px;
}

.contact-headline {
  display: inline-block;
}

.contact-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 500px;
}

.contact label {
  text-align: left;
  color: #e1e1e1;
}

.contact input,
.contact textarea {
  background-color: transparent;
  border: 1px solid #fff1;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  color: #e1e1e1;
}
.contact textarea {
  min-height: 100px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.submit {
  width: 150px;
  height: 40px;
  background-color: #55e6a5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #09101a;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}

.submit:hover {
  background-color: #fff;
}

/* MEDIA QUERIES */

@media (400px <= width) {
  .welcome-text {
    padding: 120px 30px 0 30px;
  }
  .context-box-title {
    font-size: 22px;
  }
  .context-box-item {
    font-size: 18px;
  }
  .context-box-title::after {
    left: 35px;
  }
  .portfolio-box img {
    min-height: 250px;
  }
}
@media (576px <= width) {
  .about-me {
    padding: 0 60px 80px;
  }
  .context-box-title {
    font-size: 25px;
  }
  .context-box-item {
    font-size: 20px;
  }
  .context-box-title::after {
    left: 40px;
  }
  .context-box-headline,
  .context-box-time {
    font-size: 18px;
  }

  .portfolio-box-img {
    width: 48%;
  }

  .portfolio-box img {
    width: 100%;
    min-height: auto;
  }
  .portfolio-box {
    padding: 0 30px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (768px <= width) {
  .service {
    padding: 0 60px;
  }

  .about-me-title,
  .service-title,
  .skills-title,
  .portfolio-title,
  .contact-title {
    font-size: 33px;
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;
  }

  .service-box {
    width: 45%;
  }
  .context-box {
    flex-direction: row;
    gap: 30px;
  }
  .context1-right,
  .context1-left,
  .context2-right,
  .context2-left,
  .context3-right,
  .context3-left {
    width: 48%;
    margin-bottom: 0;
  }
  .competencies-button {
    padding: 15px 30px;
  }
  .context-box-title::after {
    left: 37px;
  }
  .portfolio-box img {
    width: 100%;
    min-height: 250px;
  }
  .portfolio-box {
    margin-bottom: 50px;
  }
  .portfolio .portfolio-box-backdrop {
    padding-top: 50px;
  }
}
@media (850px <= width) {
  .about-me-title {
    font-size: 35px;
  }
}
@media (900px <= width) {
  .about-me-left-side {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .about-me-left-side__box {
    width: 50%;
  }

  .about-me-title {
    max-width: 700px;
  }

  .square {
    width: 250px;
    height: 250px;
    right: 100px;
  }
  .me {
    max-width: 500px;
  }
}

@media (992px <= width) {
  .welcome-text {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
  }

  .welcome-title {
    font-size: 50px;
    text-align: left;
  }

  .welcome-description {
    padding: 0;
    line-height: 30px;
    text-align: left;
    max-width: 500px;
  }

  .cv {
    margin: 0;
  }

  .loading h2 {
    font-size: 80px;
  }

  .ball {
    top: 10px;
  }

  .about-me {
    padding: 130px 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-me-headline {
    width: 100%;
    text-align: left;
  }

  .about-me-title {
    text-align: left;
    max-width: 100%;
    width: 75%;
    font-size: 39px;
  }

  .about-me-left-side__box {
    max-width: 100%;
    margin: 0;
  }

  .about-me-left-side {
    flex-direction: column;
    width: 100%;
  }

  .about-me-left-side__box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .both-sides {
    display: flex;
    align-items: center;
  }

  .me {
    width: 90%;
  }

  .about-me-right-side {
    width: 100%;
  }

  .square {
    top: -100px;
    right: -100px;
  }
  .about-me-left-side__description {
    text-align: left;
  }
  .about-me-left-side__box img {
    margin-bottom: 15px;
  }
  .about-me-title {
    margin-bottom: 70px;
  }

  .service-headline {
    width: 100%;
    text-align: left;
  }

  .service-title {
    text-align: left;
    margin: 0 0 50px;
    padding: 0 0 40px;
    max-width: 80%;
  }

  .service-container {
    flex-wrap: nowrap;
    gap: 30px;
  }

  .skills {
    padding: 75px 60px 30px;
  }

  .skills-headline {
    width: 100%;
    text-align: left;
  }
  .skills-title {
    text-align: left;
    padding: 0;
  }
  .competencies-buttons {
    padding: 0;
    justify-content: flex-start;
  }
  .competencies-context {
    margin: 0;
    width: 100%;
  }
  .portfolio-headline {
    width: 100%;
    text-align: left;
  }
  .portfolio {
    padding: 0 60px 80px;
  }
  .portfolio-title {
    text-align: left;
    padding-left: 0;
  }
  .portfolio-box {
    padding: 0;
  }

  .show-more {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }

  .contact {
    padding: 75px 60px 40px;
  }
  .contact-headline {
    width: 100%;
    text-align: left;
  }
  .contact-title {
    text-align: left;
  }
  .contact-top {
    display: flex;
    gap: 30px;
  }
  .contact-box.last {
    width: 100%;
    max-width: 100%;
  }
  .contact-box.last textarea {
    min-height: 250px;
  }

  .submit {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }
  .contact input {
    height: 70px;
  }
}

@media (1100px <= width) {
  .service-title {
    max-width: 80%;
  }
}

@media (1200px <= width) {
  .navigation-top {
    height: 140px;
  }

  .navigation-bottom .navigation-link {
    height: 62px;
  }
  .navigation-icon {
    height: 62px;
    width: 62px;
    margin-right: 20px;
  }

  .show-navigation {
    display: none;
  }

  .letter {
    font-size: 14px;
  }

  .welcome-banner {
    padding-left: 267px;
  }

  .welcome-text {
    left: 267px;
  }

  .cv {
    width: 200px;
    font-size: 18px;
  }
  .loading h2 {
    font-size: 100px;
  }

  .ball {
    width: 120px;
    height: 120px;
  }

  .about-me {
    padding-left: 297px;
  }

  .service {
    padding-left: 297px;
  }
  .service-title {
    font-size: 39px;
  }

  .skills {
    padding-left: 297px;
    padding-bottom: 80px;
  }

  .skills-title {
    font-size: 39px;
  }
  .competencies-button {
    font-size: 20px;
  }
  .portfolio {
    padding-left: 297px;
  }
  .portfolio-title {
    font-size: 39px;
  }

  .portfolio-box img {
    min-height: 350px;
  }
  .backdrop-button {
    padding: 10px 20px;
  }
  .contact {
    padding-left: 297px;
  }
  .contact-box {
    width: 100%;
    max-width: 100%;
  }
  .contact input,
  .contact textarea {
    font-size: 22px;
  }

  .contact-title {
    font-size: 39px;
  }

  .portfolio-box-backdrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  .backdrop-title {
    font-size: 30px;
  }
  .backdrop-description {
    font-size: 20px;
  }
}

@media (1300px <= width) {
  .welcome-banner img {
    object-fit: cover;
  }
}

@media (1600px <= width) {
  .welcome-title {
    font-size: 60px;
  }
  .welcome-description {
    font-size: 20px;
    line-height: 35px;
    max-width: 700px;
  }

  .cv {
    width: 200px;
    height: 70px;
    font-size: 22px;
  }

  .about-me-title {
    width: 53%;
  }
  .about-me-left-side__title {
    font-size: 26px;
  }
  .about-me-left-side__description {
    font-size: 18px;
  }
  .service-title {
    max-width: 50%;
  }
  .portfolio-box img {
    min-height: 350px;
  }
  .portfolio .portfolio-box-backdrop {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .backdrop-title {
    font-size: 40px;
  }
  .backdrop-title::after {
    width: 30%;
  }
  .backdrop-description {
    font-size: 25px;
  }
  .backdrop-button {
    padding: 15px 30px;
    font-size: 18px;
  }
}

@media (1800px <= width) {
  .welcome-title {
    font-size: 65px;
  }
  .square {
    right: 50px;
  }
  .portfolio-box img {
    object-fit: inherit;
    min-height: 400px;
  }
}

@media (1920px <= width) {
  .welcome-text {
    top: 15%;
  }
  #app {
    position: relative;
  }
  .navigation {
    left: auto;
  }
}

/* ANIMATIONS */

@keyframes typing {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes move {
  0% {
    left: 0px;
  }
  50% {
    left: 80%;
  }

  100% {
    left: 0px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: translate(-50%, 50%) rotate(0);
  }
  to {
    transform: translate(-50%, 50%) rotate(360deg);
  }
}
